/project1/src/.ipynb_checkpoints
/project1/src/__pycache__
/project1/data
.DS_Store
/project1/.DS_Store
/project1/deliverable
/project1/deliverable.zip
/project2/project_text_classification/data/
/project2/project_text_classification/pretrained_word2vec/
